.header {
	width: stretch;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba($green, 0.8);
	top: 0;
	z-index: 999;

	&-nav {
		height: $headerHeight;

		backdrop-filter: blur(10px);
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: stretch;
	}

	&-logo {
		margin-left: 2rem;
		color: $white;

		@include breakpoint-down(medium) {
			margin-left: 1rem;
		}
	}
}

.nav {
	&-hamburger {
		margin-right: 2rem;

		@include breakpoint-down(medium) {
			margin-right: 1rem;
		}
	}

	&-list {
		display: flex;
		gap: 40px;
		margin-right: 2rem;

		@include breakpoint-down(medium) {
			margin-right: 1rem;
		}

		&-link {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: $white;
				bottom: -2px;
				left: 0;
				z-index: 1;
				transform-origin: right;
				transform: scaleX(0);
				transition: transform 300ms ease-in-out;
			}

			&:hover {
				&::after {
					transform: scaleX(100%);
					transform-origin: left;
				}
			}
		}
	}
}

.hamburger {
	&-menu {
		position: absolute;
		right: 0;
		top: $headerHeight;
		width: 70%;
		height: calc(100vh - $headerHeight);
		background-color: rgba($grey, 0.6);
		backdrop-filter: blur(10px);
		transform: translateX(200%);
		z-index: 100;

		transition: opacity 100ms ease-in-out;
		opacity: 0;

		> * {
			pointer-events: none;
		}

		&.open {
			opacity: 1;

			transform: translateX(0);
			> * {
				pointer-events: all;
				animation-delay: 0ms;
				animation: fade-out 0ms reverse;
			}
		}
	}

	&-list {
		margin: 2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 20px;
	}
}
